@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Open+Sans:wght@700&family=Zen+Kurenaido&display=swap');

:host {
  font-family: 'Mochiy Pop P One', sans-serif;
}

.calendar {
  display: grid;
  gap: 10px 10px;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.days {
  border: 1px solid black;
  border-radius: 6px;
  font-size: 12px;
  height: 100px;
}

.tasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgoldenrodyellow;
}

.remove {
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size: 12px;
}