<button type="button" class="open-form" (click)="openForm(form, overlay)">Add</button>

<form #form [formGroup]="submitTask" (ngSubmit)="onSubmit()" (submit)="closeForm(form, overlay)">
  <button type=button class="close-form" (click)="closeForm(form, overlay)">x</button>
  <label>
    Title
    <input type="text" required placeholder="Add a title." formControlName="title" />
  </label>

  <div class="error" *ngIf="title?.invalid && (date?.dirty || date?.touched)">
    <div *ngIf="title?.errors?.['required']">Please enter a title.</div>
  </div>

  <label>
    Date
    <input type="date" required formControlName="date" />
  </label>

  <div *ngIf="date?.invalid && (date?.dirty || date?.touched)">
    <div class="error" *ngIf="date?.errors?.['required']">Please enter a date.</div>
  </div>

  <label>
    Description
    <input type="text" required placeholder="Add a task description." formControlName="description" />
  </label>

  <div *ngIf="description?.invalid && (description?.dirty || description?.touched)">
    <div class="error" *ngIf="description?.errors?.['required']">Please enter a description.</div>
  </div>

  <button class="submit-form" type="submit" [disabled]="!submitTask.valid">Save</button>
</form>
<div #overlay class="overlay"></div>