@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@300&family=Mochiy+Pop+P+One&family=Open+Sans:wght@700&family=Zen+Kurenaido&display=swap');

:host {
  font-family:'M PLUS 1 Code', sans-serif;
}

.open-form {
  background-color: black;
  border-radius: 50%;
  border: 1px solid transparent;
  box-shadow: 0 3px 6px #333;
  color: white;
  cursor: pointer;
  font-family:'M PLUS 1 Code', sans-serif;
  font-size: 12px;
  margin: 5px;
  padding: 10px 8px;
  position: fixed;
  top: 12%;
  transition: 250ms;
}

.open-form:hover {
  background-color: yellow;
  color: black;
}

.submit-form {
  background-color: black;
  border-radius: 50%;
  border: 1px solid transparent;
  color: white;
  cursor: pointer;
  font-family:'M PLUS 1 Code', sans-serif;
  font-size: 12px;
  margin: 5px;
  padding: 10px 8px;
  transition: 300ms;
}

.submit-form:hover {
  background-color: lightgrey;
}


.close-form {
  align-self: flex-end;
  background-color: #93C8BE ;
  border: none;
  font-family:'M PLUS 1 Code', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

form {
  align-items: center;
  background-color: #93C8BE;
  border-radius: 6px;
  box-shadow: 0 3px 6px #333;
  display: flex;
  flex-direction: column;
  left: 50%;
  padding: 12px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}

form:not(.--is-open) {
  display: none;
}

.overlay {
  background: #000;
  height: 100vh;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}

.overlay:not(.--is-open) {
  display: none;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding: 5px 0;
}

input {
  margin-top: 5px;
  width: 200px;
}

.error {
  font-size: 12px;
}